---
layout: default
title: rs.io - forcing the heavens into my head.
description: "Musings on human value and how to achieve those values. Lots of science. Either a whimsical tour or an unfocused mess."
---

<section id="post">
  <article>
    <header>
      <h1 id="title"><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h1>
      <p><time datetime="{{ site.posts.first.date }}" pubdate="pubdate">{{ site.posts.first.date | date:"%B %d, %Y" }}</time></p>
    </header>
    {% if site.posts.first.summary %}
    <p><strong>Summary: </strong><em>{{site.posts.first.summary}}</em></p>
    {% endif %}
    {{ site.posts.first.content }}
  </article>

  <div id="related">
    {% for cat in site.categories %}
    <h2>{{ cat[0] }}</h2>
    {% for post in cat[1] %}
    <li class="posts"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    {% endfor %}
    <h2> Recent Posts </h2>
    {% for post in site.posts limit:5 %}
      <li class="posts"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </div>
</section>
