<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Robert Seaton" />
  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
  <meta name="description" content="{{site.description}}" />
  {% endif %}
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  
<script async type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7a9ce97e-4353-4a20-9336-509fced243f9", doNotHash: true, doNotCopy: true, hashAddressBar: false, shorten: false});</script>
<script async type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
 <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12517909-4']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

 </script>
 <script>
var randomlinks=new Array()

{% assign counter=0 %}
{% for post in site.posts %}
randomlinks[{{counter}}]="{{ post.url }}"
{% assign counter=counter | plus:1 %}  
{% endfor %}
function randomlink(){
window.location=randomlinks[Math.floor(Math.random()*randomlinks.length)]
}
</script>
</head>

<body>
<div id="container">	
<div id="wrap">
  <ul id="rss">
    <a href="/index.html"><img id="logo" src="img/site-logo.png" style="margin-left: 60px;"></a>
    <li class="rss"><a href="http://feeds.feedburner.com/rsio" title="Subscribe to the RSS feed">RSS</a></li>
  </ul>
  <div id="sidebar">
    <div id="nav">
    <h2>Navigation</h2>
    <ul>
      {% if page.url != "/index.html" %}
      <li><a href="/">home</a></li>
      {% else %}
      <li>home</li>
      {% endif %}
      {% if page.url != "/guided-tour.html" %}
      <li><a href="/guided-tour.html">guided tour</a></li>
      {% else %}
      <li>guided tour</li>
      {% endif %}
      {% if page.url != "/articles.html" %}
      <li><a href="/articles.html">articles</a></li>
      {% else %}
      <li>articles</li>
      {% endif %}
      <li><a href="javascript:void(0)" onclick="randomlink();">random</a></li>
      <li><a href="http://feeds.feedburner.com/rsio">rss</a></li>
    </ul>
    <h2>Resources</h2>
    <ul>
      <li><a href="http://www.gutenberg.org/">Project Gutenberg</a></li>
      <li><a href="http://en.bookfi.org/" rel="nofollow">BookFinder</a></li>
      <li><a href="http://libgen.org/" rel="nofollow">Library Genesis</a></li>
      <li><a href="http://bibliotik.org/" rel="nofollow">Bibliotik</a></li>
      <!-- <li><a href="http://plato.stanford.edu/">Stanford Encyclopedia of Philosophy</a></li> -->
    </ul>
    <h2>Contact</h2>
    <ul>
      <li><a href="https://twitter.com/robbseaton">@robbseaton</a></li>
      <li><a href="https://plus.google.com/+RobertSeaton?rel=author">google+</a></li>
      <li><a href="mailto:robbpseaton@gmail.com">e-mail</a></li>
    </div>
  </div>
  {{ content }}
</div>
<div id='footer'>
    <p class='part-1'>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>.</p> <p class='part-2'>All Rights Reserved. © 2011, Robert Seaton</p>
  </div>
</div>
</body>
</html>
