---
layout: default
---

<section id="post">
  <article>
    <header>
      <h1 id="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <p><time datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">{{ page.date | date:"%B %d, %Y" }}</time></p>
    </header>
    {% if page.summary %}
    <p><strong>Summary: </strong><em>{{page.summary}}</em></p>
    {% endif %}
    {{ content }}
  </article>

  <div id="related">
    <h2> Recent Posts </h2>
    {% for post in site.related_posts limit:5 %}
	  {% if post.hidden != true %}
      <li class="posts"><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endif %}
    {% endfor %}
  </div>
</section>
