---
layout: default
---

<section id="post">
  <article>
    <header>
      <h1 id="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <p><time datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">{{ page.date | date:"%B %d, %Y" }}</time></p>
    </header>
    {% if page.summary %}
    <p><strong>Summary: </strong><em>{{page.summary}}</em></p>
    {% endif %}
    {{ content }}
  </article>

  <div id="convertbox">
    <p>
      <center>
      <span class='st_reddit_large' displayText='Reddit'></span>
      <span class='st_twitter_large' st_via='robbseaton' displayText='Tweet'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st__large' displayText=''></span>
<br><br>
      <b>Hey! If you've read this far, you might as well subscribe to <a href="http://feeds.feedburner.com/rsio">the RSS feed</a> or <a href="https://twitter.com/robbseaton">follow me on twitter</a> for more.</b>
<center>
    </p>
  </div>

  <div id="related">
    <h2> Recent Posts </h2>
    {% for post in site.related_posts limit:5 %}
	  {% if post.hidden != true %}
      <li class="posts"><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endif %}
    {% endfor %}
  </div>
</section>
